# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# UV / virtualenv
.venv/
uv.lock

# Streamlit
.streamlit/secrets.toml

# macOS
.DS_Store

# IDE
.claude/
.vscode/
.idea/
data/chroma/chroma.sqlite3
data/chroma/0dae42b4-1bb9-4eef-920b-7f43296cdb78/data_level0.bin
data/chroma/0dae42b4-1bb9-4eef-920b-7f43296cdb78/header.bin
data/chroma/0dae42b4-1bb9-4eef-920b-7f43296cdb78/length.bin
data/chroma/0dae42b4-1bb9-4eef-920b-7f43296cdb78/link_lists.bin
.env
